<a href="https://colab.research.google.com/github/fpigato/MECAI/blob/main/C%C3%B3pia_de_CRM_Clustering_phase_3_%5Bv1%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import unicodedata

from sys import platform
from os import path
from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.decomposition import TruncatedSVD
from sklearn.manifold import TSNE
from sklearn.metrics import silhouette_score, davies_bouldin_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.cluster import KMeans, MiniBatchKMeans, DBSCAN
from sklearn.mixture import GaussianMixture, BayesianGaussianMixture
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from scipy.sparse import csr_matrix
from itertools import cycle, islice

# Phase 1, see [here](https://colab.research.google.com/drive/1oOl1kz7Ul1dvinpV6ha-iO4cWh8-ahOq)

[pt-br]

A primeira etapa foi carregar, limpar e pré-processar os dados. Esta etapa realizou uma análise exploratória, um pré-processamento com limpeza e enriquecimento dos dados e uma engenharia de recursos para tornar os dados adequados para análise conforme a necessidade.

---

[en]

The first step was loading, cleaning and pre-processing the data. This step performed an exploratory analysis, a pre-processing with cleaning and enrichment of the data, and a feature engineering to make the data suitable for analysis as needed.

# Methodology 

[First Notebook](https://colab.research.google.com/drive/1oOl1kz7Ul1dvinpV6ha-iO4cWh8-ahOq)
1. Load e Cleasing
2. Exploratory Data Analysis
3. Data preparation
4. Feature Enginnering

**Second Notebook**
5. **Feature Scaler**
6. **Dimensionality Reduction**
7. **Similarity Clustering**

# Load Datasets

![load.png]()

In [ ]:
RANDOM_STATE = 43

executionPlatform = platform
if('linux' in executionPlatform):
    sep = '/'
elif('win' in executionPlatform):
    sep = '\\'

root_path_local_server = ''
root_path_GoogleDrive = f'gdrive{sep}Shared drives{sep}[Data] Assets{sep}Clusterização para CRM{sep}Google Colabs{sep}'

UsingGoogleDriveAPI = True

results_path = f'results{sep}'

if (UsingGoogleDriveAPI):
    from google.colab import drive
    drive.mount('/content/gdrive', force_remount=True)
    root_path = root_path_GoogleDrive
else:
    # Establish connection to local server using root_path
    root_path = root_path_local_server

Mounted at /content/gdrive

## Load files

In [ ]:
df_customers_segmented_file = root_path + results_path + 'df_customer_segmented.csv'

df_customers_segmented = pd.read_csv(df_customers_segmented_file, sep=',')

df_customers_segmented.info()
df_customers_segmented.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93592 entries, 0 to 93591
Columns: 118 entries, customer_unique_id to cluster
dtypes: float64(8), int64(108), object(2)
memory usage: 84.3+ MB

                 customer_unique_id  ...            cluster
0  0000366f3b9a7992bf8c76cfdf3221e2  ...  3.Valuable_Active
1  0000b849f77a49e4a4ce2b2a4ca5be3f  ...       2.Economical
2  0000f6ccb0745a6a4b88665a16c9f078  ...       2.Economical
3  0004aac84e0df4da2b147fca70cf8255  ...  4.Valuable_Absent
4  0004bd2a26a76fe21f786e4fbd80607f  ...  3.Valuable_Active

[5 rows x 118 columns]

In [ ]:
df_customers_segmented.describe()

       customer_zip_code_prefix  ...  total_baskets_by_zip_code
count              93592.000000  ...               93592.000000
mean               35228.649767  ...                2404.959605
std                29836.295117  ...                2821.323394
min                 1003.000000  ...                   3.540000
25%                11410.000000  ...                 666.990000
50%                24451.000000  ...                1501.360000
75%                59068.000000  ...                2999.970000
max                99980.000000  ...               23953.520000

[8 rows x 116 columns]

# *Result Analysis*

Hierarchical clustering 

## Next best actions

**Econômico** - up selling

**Valiosos** - cross selling

**Novos** - activation

**Inativos** - retention / churn reversion

## Customer life cycle

## Product analysis

Analyse product's features

# Clustering Analysis

In [ ]:
df_data_agg = df_customers_segmented\
  .groupby('cluster')\
  .agg(
      num_customers=('customer_unique_id', 'count'),
      avg_spend=('total_baskets', 'mean'),
      avg_recency=('recency', 'mean'),
      avg_frequency=('frequency', 'mean'),
      avg_ticket=('average_ticket', 'mean')
    )\
  .sort_values(by=['cluster'], ascending=[True])

df_data_agg['prop_customers'] = df_data_agg.num_customers / len(df_customers_segmented)

df_data_agg

                   num_customers   avg_spend  ...  avg_ticket  prop_customers
cluster                                       ...
1.New                      18520  148.268522  ...  143.817131        0.197880
2.Economical               27447   49.151974  ...   49.005118        0.293262
3.Valuable_Active          13685  244.021087  ...  236.333041        0.146220
4.Valuable_Absent          13180  251.183822  ...  244.043752        0.140824
5.Inactive                 20760  147.822259  ...  144.999462        0.221814

[5 rows x 6 columns]

# Basket Analysis

In [ ]:
categories = ['moveis_escritorio','moveis_decoracao']

In [ ]:
for category in

## Valuable and Active clients

In [ ]:
categories = ['moveis_escritorio','moveis_decoracao','automotivo','esporte_lazer',
 'moveis_sala','bebes','utilidades_domesticas','casa_conforto',
 'cama_mesa_banho','brinquedos','casa_conforto_2','cool_stuff',
 'informatica_acessorios','instrumentos_musicais','consoles_games',
 'relogios_presentes','none','beleza_saude','perfumaria','casa_construcao',
 'ferramentas_jardim','eletroportateis','papelaria','climatizacao',
 'telefonia','construcao_ferramentas_construcao','eletronicos','pet_shop',
 'telefonia_fixa','alimentos_bebidas','bebidas','alimentos','market_place',
 'sinalizacao_e_seguranca','fraldas_higiene','audio',
 'fashion_bolsas_e_acessorios','construcao_ferramentas_seguranca',
 'moveis_cozinha_area_de_servico_jantar_e_jardim','fashion_roupa_feminina',
 'malas_acessorios','fashion_calcados','artes','livros_interesse_geral',
 'fashion_roupa_masculina','musica','dvds_blu_ray',
 'construcao_ferramentas_iluminacao','artigos_de_natal',
 'artigos_de_festas','construcao_ferramentas_jardim','eletrodomesticos_2',
 'construcao_ferramentas_ferramentas','agro_industria_e_comercio',
 'pc_gamer','industria_comercio_e_negocios','cine_foto','fashion_esporte',
 'cds_dvds_musicais','eletrodomesticos','seguros_e_servicos',
 'tablets_impressao_imagem','moveis_quarto','portateis_casa_forno_e_cafe',
 'portateis_cozinha_e_preparadores_de_alimentos',
 'fashion_underwear_e_moda_praia','moveis_colchao_e_estofado','pcs',
 'livros_tecnicos','livros_importados','fashion_roupa_infanto_juvenil',
 'artes_e_artesanato','flores','la_cuisine']

In [ ]:
clusters = sorted(df_customers['cluster'].unique())

print(clusters)

In [ ]:
#df.loc[df['column_name'] == some_value]
#df_customers.loc[df_customers['cluster'] == '3.Valioso_Presente']

print(df_customers.columns.values)

In [ ]:
buyed_categories = {}
for cluster in clusters:
  current_cluster = df_customers[df_customers['cluster'] == cluster] 
  print("\nCluster: "+cluster)
  for category in categories:
    buyed_categories[category] = current_cluster[category].sum()

  marklist = reversed(sorted(buyed_categories.items(), key=lambda x:x[1]))
  sortdict = dict(marklist)
  print(list(sortdict)[:3])
#buyed_categories.sort_values(ascending = False).head(10)

In [ ]:
print(buyed_categories)